<!DOCTYPE html>
<html lang="es">
	<head>
		<title>Comunidad</title>
		<link rel="stylesheet" type="text/css" href="../css/cuerpo_ZF.css">
	
	</head>
<body>
	<iframe src="../templates/header.html" id="iframe-head"></iframe>
<div id="container">
		<h2>Comunidad</h2>
				<p>
					"Pero debo explicarte cómo nació toda esta idea equivocada de denunciar el placer y elogiar el dolor y te daré una cuenta completa del sistema y expondré las enseñanzas reales del gran explorador de la verdad, el maestro constructor de felicidad humana. Nadie rechaza, no le gusta o evita el placer en sí mismo, porque es un placer, sino porque aquellos que no saben cómo buscar el placer racionalmente encuentran consecuencias que son extremadamente dolorosas. Tampoco hay nadie que ame, persiga o desee obtener dolor por sí mismo, porque es dolor, pero debido a que ocasionalmente ocurren circunstancias en las que el dolor y el dolor pueden procurarle un gran placer. Para tomar un ejemplo trivial, ¿quién de nosotros alguna vez realiza un ejercicio físico laborioso, excepto para obtener alguna ventaja de él? Pero, ¿quién tiene derecho a culpar a un hombre que elige disfrutar de un placer que no tiene consecuencias molestas, o que evita un dolor que no produce ningún placer resultante?"
				</p>
<img src="https://media.giphy.com/media/gysS4T0YsTKdq/giphy.gif" width="100%">
</div>
<iframe src="../templates/footer.html" id="iframe-foot"></iframe>