<!DOCTYPE html>
<html lang="es">
	<head>
		<meta charset="utf-8">
		<title>Ingresar</title>
		<link rel="stylesheet" type="text/css" href="../css/cuerpo_ZF.css">
	</head>
<body>
	<iframe src="../templates/header.html" id="iframe-head"></iframe>
	<div id="container">
	<h1>Ingresar</h1>
	<p>
		<div>
			<label>Email:</label>
		</div>
		<input type="text" name="email">
	</p>
	<p>
		<div>
			<label>Contraseña:</label>
		</div>
		<input type="text" name="contraseña">
	</p>
	<p>
		<input type="submit" value="Entrar">
	</p>
</body>
</div>
<iframe src="../templates/footer.html" id="iframe-foot"></iframe>
</html>