<!DOCTYPE html>
<html lang="es">
	<head>
		<title>Inicio</title>
		<link rel="stylesheet" type="text/css" href="../css/cuerpo_ZF.css">
	</head>
<body>
	<iframe src="../templates/header.html" id="iframe-head"></iframe>
<div id="container">
		<h2>Inicio</h2>
				<p>
					Nuestro proposito es llevar la mejor calidad de productos a el hogar de todos nuestros clientes, ademas que tengan la certeza de que cada producto es propiamente didactico y del oceo, en donde cada persona fanatica al anime, se sienta libre de comprar cualquier producto que desee.
				</p>
		<img src="https://vignette.wikia.nocookie.net/vsbattles/images/9/9d/Ao.no.Exorcist.full.612778.jpg/revision/latest?cb=20170107002120" width="100%">
</div>
<iframe src="../templates/footer.html" id="iframe-foot"></iframe>