<!DOCTYPE html>
<html lang="es">
	<head>
		<title>Nosotros</title>
		<link rel="stylesheet" type="text/css" href="../css/cuerpo_ZF.css">
		
	</head>
<body>
	<iframe src="../templates/header.html" id="iframe-head"></iframe>
<div id="container">
		<h2>Nosotros</h2>
				<p>
					Hace 2 años venimos laborando en este tipo de comercio, en el cual hemos podido superar dificultades, y superarnos a nosotros mismos, llevando productos totalmente japoneses, a cada cliente, ademas de salir de nuestro establecimiento agusto con su compra, te garantizamos la mejor calidad en sellos, pastas, libros, peluches, llaveros, entre otros. 
				</p>
<img src="http://pa1.narvii.com/6277/c952e93c12a5e287d2565733c73b4c84bdbceb17_00.gif" width="100%">
</div>
<iframe src="../templates/footer.html" id="iframe-foot"></iframe>