<!DOCTYPE html>
<html lang="es">
<head>
	<meta charset="utf-8">
	<title>TABLA DE PRECIOS</title>
	<link rel="stylesheet" type="text/css" href="../css/precios.css">
</head>
<body>
	<center>
	<div id="container">
	<h1> TABLA DE PRECIOS</h1>
	<table>
	<thead>
		<th>Item</th>
		<th>Codigo</th>
		<th>Producto</th>
		<th>Precios</th>
	</thead>
	<tbody>
		<tr>
			<td>1</td>
			<td>RTC234</td>
			<td>Morral</td>
			<td>$50.000</td>
		</tr>
		<tr>
			<td>2</td>
			<td>RTC235</td>
			<td>Billetera</td>
			<td>$20.000</td>
		</tr>
		<tr>
			<td>3</td>
			<td>RTC236</td>
			<td>Colgantes</td>
			<td>$5.000</td>
		</tr>
		<tr>
			<td>4</td>
			<td>RTC237</td>
			<td>Playeras</td>
			<td>$32.000</td>
		</tr>
		<tr>
			<td>5</td>
			<td>RTC238</td>
			<td>Cuadernos 5 materias</td>
			<td>$25.000</td>
		</tr>
		<tr>
			<td>6</td>
			<td>RTC239</td>
			<td>Juego the legend of zelda breath of the wild</td>
			<td>$200.000</td>
		</tr>
		<tr>
			<td>7</td>
			<td>RTC240</td>
			<td>Cartuchos super nintendo</td>
			<td>$10.000</td>
		</tr>
		<tr>
			<td>8</td>
			<td>RTC241</td>
			<td>sueters</td>
			<td>$30.000</td>
		</tr>
		<tr>
			<td>9</td>
			<td>RTC242</td>
			<td>almohada</td>
			<td>$17.000</td>
		</tr>
		<tr>
			<td>10</td>
			<td>RTC243</td>
			<td>body chan y body kun</td>
			<td>$50.000</td>
		</tr>
