<!DOCTYPE html>
<html lang="es">
	<head>
		<title>Registro</title>
		<link rel="stylesheet" type="text/css" href="../css/registro.css">
	</head>
<body>
	<iframe src="../templates/header.html" id="iframe-head"></iframe>
	<div id="container">
	<h1>Registrate</h1>
	<p>
		<div>
			<label>Nombre:</label>
		</div>
		<input type="text" name="nombre">
	</p>
	<p>
		<div>
			<label>Email:</label>
		</div>
		<input type="text" name="email">
	</p>
	<p>
		<div>
			<label>Contraseña:</label>
		</div>
		<input type="text" name="contraseña">
	</p>
	<p>
		<div>
			<label>Fecha de nacimiento:</label>
		</div>
	</p>
	<p>
		
			<label>Día</label>
		
		<select name="dia">
			<option>01</option>
			<option>02</option>
			<option>03</option>
			<option>04</option>
			<option>05</option>
			<option>06</option>
			<option>07</option>
			<option>08</option>
			<option>09</option>
			<option>10</option>
			<option>11</option>
			<option>12</option>
			<option>13</option>
			<option>14</option>
			<option>15</option>
			<option>16</option>
			<option>17</option>
			<option>18</option>
			<option>19</option>
			<option>20</option>
			<option>21</option>
			<option>22</option>
			<option>23</option>
			<option>24</option>
			<option>25</option>
			<option>26</option>
			<option>27</option>
			<option>28</option>
			<option>29</option>
			<option>30</option>
			<option>31</option>
			<option selected="selected">___</option>
		</select>
	
			<label>Mes</label>
		
		<select name="mes">
			<ul>
			<option>Enero</option>
			<option>Febrero</option>
			<option>Marzo</option>
			<option>Abril</option>
			<option>Mayo</option>
			<option>Junio</option>
			<option>Julio</option>
			<option>Agosto</option>
			<option>Septiembre</option>
			<option>Octubre</option>
			<option>Noviembre</option>
			<option>Diciembre</option>
			<option selected="selected">_________</option>
		</select>
	
			<label>Año</label>
		
		<select name="año">
			<option>1980</option>
			<option>1981</option>
			<option>1982</option>
			<option>1983</option>
			<option>1984</option>
			<option>1985</option>
			<option>1986</option>
			<option>1987</option>
			<option>1988</option>
			<option>1989</option>
			<option>1991</option>
			<option>1992</option>
			<option>1993</option>
			<option>1994</option>
			<option>1995</option>
			<option>1996</option>
			<option>1997</option>
			<option>1998</option>
			<option>1999</option>
			<option>2000</option>
			<option>2001</option>
			<option>2002</option>
			<option>2003</option>
			<option>2004</option>
			<option>2005</option>
			<option>2006</option>
			<option>2007</option>
			<option>2008</option>
			<option>2009</option>
			<option>2010</option>
			<option>2011</option>
			<option>2012</option>
			<option>2013</option>
			<option selected="selected">____</option>
		</select>
	</p>
	<p>
		<input type="radio" name="servicio" value="mujer">Mujer
		<input type="radio" name="servicio" value="hombre">Hombre
		<input type="radio" name="servicio" value="indefinido">No quiero decir
	</p>
	<p>
		<input type="submit" value="Crear cuenta">
	</p>
	</div>
	<iframe src="../templates/footer.html" id="iframe-foot"></iframe>

