<!DOCTYPE html>
<html lang="es">
<head>
	<title>Footer</title>
	<link rel="stylesheet" type="text/css" href="../css/footer.css">
</head>
<body>
	<div id="foot">
		<div class="divfoot">
			<p>Siguenos</p>
			<a href="https://www.facebook.com/Green-Shoes-796453637181932/" target="_blank">Facebook</a><br/>
			<a href="https://greenshoesx3.tumblr.com/" target="_blank">Tumblr</a><br/>
			<a href="https://twitter.com/Green_ShoesX3" target="_blank">Twitter</a>
		</div>
		<div class="divfoot">
			<p>Acerca de nosotros</p>
		</div>
		<div class="divfoot">
			<p>Contactanos</p>
			<a href="../views/contactanos.html" target="_blank">Contactanos</a>
		</div>
	</div>
</body>
</html>
